# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and distribution
build/
dist/
*.egg-info/

# Output directory for scraped data
outputs/

# cookies
src/igscraper/cookies/
# setuptools (in-tree egg-info from builds)
src/*.egg-info/


# Coverage
.coverage
coverage.xml
htmlcov/
